*{
    text-align: center;
}
body{
    display: flex;
    justify-content: center;
}
button{
    border: 1px solid black;
}

#myParagraph{
    color: red;
}
section{
    width: 300px;
    border: 1px solid red;
    padding: 10px;
    
}
button{
    width: 90px;
    height: 40px;
}